div.numsysinputgroup {
	float: left;
	width: 550px;
	display: inline;
	font-size: 16px;
	margin-bottom: 5px;
}

div.numsysconvertbutton {
	display: inline;
	margin-left: 20px;
}

div.numsysinput {
	width: 430px;
	display: inline-block;
}

div.numsysinput label {
	width: 50px;
	text-align: right;
	font-size: 16px;
}

div.numsysinput input {
	float: right;
	width: 330px;
	text-align: right;
	height: 20px;
	font-size: 16px;
}

div#numsysresetbutton {
	margin-top: 20px;
}

p.footertext {
	font-size: x-small;
}
