div.numsysinputgroup {
	float: left;
	width: 450px;
	/*border: 3px solid red;*/
	display: inline;
}

div.numsysinput {
	width: 350px;
	border: 3px solid pink;
	display: inline-block;
}

div.numsysinput label {
	width: 50px;
	text-align: right;
}

div.numsysinput input {
	float: right;
	width: 250px;
	text-align: right;
	/*border: 3px solid green;*/
}

div#numsysresetbutton {
	clear: both;
	
}


/*
div.numsysinputblock {
	
	height: 120px;
	width: min-intrinsic;
	border: 3px solid blue;
}



div.numsysinputblock button {
	float: right;
}

*/