.number_table {
 /*   border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;*/
    background-color: white;
	/*border: solid 1px gray;*/
	width; 200px;
/*	height: 200px; */
	text-align: center;
	margin-left: 80px;
}
/*
tr {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid;
}


td {
    border-right: 1px solid;
    padding-left: 5px;
    text-align: center;

}

.table_header {
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;


}

.button_group {
    margin-left: 15px;
    margin-right: 30px;
    border-radius: 5px;
}

.button_group:hover {
    background-color: rgb(200, 200, 224);
}
*/
.column {
    float: right;
}

.column:first-child {
    margin-right: 60px;
    margin-left: 0px;
}

.column:nth-child(2) {
    margin-left: 0px;
}



.scroll_box {
    width: 575px;
    height: 600px;
    overflow: auto;
}