body {
    text-align: center;
}

.pol_constants {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.pol_input {
    
}

.solution_txt {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font: bold;
}