canvas {
	width: 550px !important;
	height: 500px !important;	
	margin-top: 10px;
}

div.rand {
	margin-left: 10px;
	float: left;
	margin-bottom: 10px;
}

div.rand input {
	width: 50px;
	margin-left: 10px;
}

div#randbutton {
	float: right;
}